body{
  margin:0;
  font-family: "Roboto", serif;
  font-weight: 300;
}

.alert {
  border: 1px solid #dddddd;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #ffaf4f;
  color: white;
  font-weight: 500;
}

.box {
  border: 1px solid #dddddd;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-radius: 3px;
}



.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout .below-header{
  display: flex;
}

.layout .header {
  box-shadow: 0px 2px 10px  rgba(0,0,0,.2);
  position: sticky;
  top:0;
  z-index: 100;
  background: white;
}

.layout .drawer {
  width: 0;
  display: none;
  border-right: 1px solid #dddddd;
}

.layout.open .drawer {
  width: 200px;
  display: block;
  flex-shrink:0;
}

.layout .task-content{
  padding:25px;
}

.layout .navigation {
  display: flex;
  flex-direction: column;
}

.layout .navigation a {
  text-decoration: none;
  color: #0d0d0d;
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  transition: all .2s;
}

.layout .navigation a:hover{
  background: rgba(221, 221, 221, 0.21);
}

.layout .footer {
  background: black;
  color: white;
  padding:25px;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}





.description {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 25px;
}
.bold{
  font-weight: 400;
}

code {
  background: #dddddd;
  padding: 3px;
  margin-left:5px;
  margin-right: 5px;
}

svg{
  font-size: 40px;
  color: #ddd;
  transition: all .2s;
}
svg:hover{
  cursor: pointer;
  color: red;
}

p{
  line-height: 32px;
}

button {
  padding: 10px 20px;
  background: green;
  border: 0;
  font-family: "Roboto Light", serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn--info {
  background: blue;
}

.christmas-container {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 100px;
}

.christmas-container img {
  height: 100%;
}

@media (max-width: 800px) {
  .christmas-container{
    background: red;
    display: none;
  }
}

.typical-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
