body{
  margin:0;
  font-family: "Roboto", serif;
  font-weight: 300;
}

.alert {
  border: 1px solid #dddddd;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #ffaf4f;
  color: white;
  font-weight: 500;
}

.box {
  border: 1px solid #dddddd;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.layout {
  display: flex;
  height: 100vh;
}

.layout .drawer {
  flex-basis: 200px;
  flex-shrink: 0;
  border-right: 1px solid #dddddd;
}

.layout .content{
  flex-grow: 1;
  padding:25px;
}

.navigation {
  display: flex;
  flex-direction: column;
}
.navigation a {
  text-decoration: none;
  color: #0d0d0d;
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  transition: all .2s;
}

.navigation a:hover{
  background: rgba(221, 221, 221, 0.21);
}

.description {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 25px;
}
.bold{
  font-weight: 400;
}

code {
  background: #dddddd;
  padding: 3px;
  margin-left:5px;
  margin-right: 5px;
}

svg{
  font-size: 40px;
  color: #ddd;
  transition: all .2s;
}
svg:hover{
  cursor: pointer;
  color: red;
}

p{
  line-height: 32px;
}

button {
  padding: 10px 20px;
  background: green;
  border: 0;
  font-family: "Roboto Light", serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn--info {
  background: blue;
}

.christmas-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 200px;
}

.christmas-container img {
  height: 100%;
}
